@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel sapien non dui elementum viverra. Donec ac tortor efficitur, blandit magna nec, finibus magna. 
    Morbi ac fringilla sapien. Phasellus luctus lorem sed est sagittis molestie. In blandit metus quis lorem ornare, vel hendrerit libero ullamcorper. 
    Phasellus blandit neque id enim vehicula, eu dignissim odio finibus. 
    Nunc fermentum auctor euismod. Etiam sodales, enim sit amet ultrices iaculis, nulla tortor commodo erat, a malesuada lectus justo ac augue. 
    Ut ac felis id dui posuere rutrum. Proin a felis quis ex interdum rhoncus. Suspendisse urna lacus, faucibus quis tempus sodales, vestibulum ut neque. 
    Nulla cursus lacus lacus, pellentesque tempor leo porttitor non. Nunc finibus congue massa, ut tincidunt nibh gravida a. Proin ante ante, mattis id mauris vel, auctor lacinia diam. 
    Vivamus lorem ante, posuere semper orci vitae, malesuada interdum libero.
</p>
